#user-created {
  display: none;
}

#user-exists {
  display: none;
}

#user-loggedin {
  display: none;
}

#user-invalid {
  display: none;
}

#user-invalid-password {
  display: none;
}

#empty-field {
  display: none;
}