@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&family=Poppins:wght@200;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(0, 0, 46);
}

main {
  padding: 10px;
}

.main-container {
  max-width: 500px;
  margin: 32px auto;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: black;
}

.products-container {
  margin-top: 22px;
  text-align: center;
}

#list {
  margin: 22px auto;
  width: 100%;
  padding: 0;
}

.list-items {
  border: 1px solid rgb(157, 157, 157);
  padding: 4px 12px;
  display: inline-flex;
  margin: 2px 4px;
  background-color: rgb(248, 232, 211);
  border-radius: 5px;
  font-family: monospace;
  list-style: none;
  box-shadow: 9px 11px 5px -7px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  user-select: none;
}

.disp {
  display: none;
}

#user-sign-out {
  display: none;
}

#profile-section {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

#pro-pic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: none;
}

#confirmation-req {
}

.shops {
  width: 90%;
  margin: 12px auto;
  padding: 12px;
  border: 1px solid white;
  border-radius: 8px;
  color: white;
}

.shops p {
  margin: 0;
}

.shops button {
  margin-top: 12px;
}